/* Desktop */

#home_menu_desktop {
    display: none;
}

@media (pointer: fine) {
    #home_menu_mobile {
        display: none;
    }

    #home_menu_desktop {
        display: block;
        width: 100%;
        height: calc(77.5vh - 5em);
        min-width: 375px;
        min-height: 375px;
        justify-content: center;

        svg {
            width: 100%;
            height: 100%;

            > g {
                @include vendor('transform', 'scale(0.95)');
                transform-origin: center;
            }

            #schweife #circle4854 {
                fill: _palette(swo-grau);
            }

            #pfeile {
                a {
                    path {
                        fill: white;
                    }

                    path:first-child {
                        fill: _palette(swo-grau);
                    }

                    &:hover {
                        path:first-child {
                            stroke: _palette(swo-grau);
                            stroke-width: 2px;
                        }
                    }


                }
            }

            #kuchen {
                a {
                    &:not(:hover) {
                        g:first-child {
                            filter: none;
                        }
                    }

                    g {
                        transition: 1s all;
                    }
                }
            }
        }
    }

}

#kuchen_zivi g:first-child path {
    fill: _palette(zivildienst);
}

#kuchen_bau g:first-child path {
    fill: _palette(bau);
}
