composer.phar
*
!.gitignore
!composer.lock
!composer.json.example
!.env.*
!october.yaml
!git.cron.sh
!Envoy.blade.php
!.gitlab-ci.yml
!Dockerfile
!phpunit.xml
!xdebug.ini
!themes
!themes/**/*
!plugins
!plugins/stiftungswo
!plugins/stiftungswo/*
!plugins/stiftungswo/**/*