<footer id="footer">
  <div class="inner">
    <section>
      <div class="footer-boxes">
        <h3>Bereiche</h3>
        <ul>
<!--          {% for domain in footerBoxesView.domains %}-->
<!--          <li class="{{ domain.slug }}{% if domain.slug == domainView.domain.slug %} active{% endif %}">-->
<!--            <a href="{{ domain.url }}">-->
<!--              <div class="boxes-spacer">-->
<!--                <div>-->
<!--                  <div class="box-title">{{ domain.title | replace({' ': '&nbsp;'}) | raw }}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </a>-->
<!--          </li>-->
<!--          {% endfor %}-->
        </ul>
      </div>

      <div class="footer-boxes">
        <h3>Prozesse</h3>
        <ul>
<!--          {% for process in footerBoxesView.processes %}-->
<!--          <li class="{{ process.slug }}{% if process.slug == processView.domain.slug %} active{% endif %}">-->
<!--            <a href="{{ process.url}}">-->
<!--              <div class="boxes-spacer">-->
<!--                <div>-->
<!--                  <div class="box-title">{{ domain.title | replace({' ': '&nbsp;'}) | raw }}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </a>-->
<!--          </li>-->
<!--          {% endfor %}-->
        </ul>
<!--        {% for process in footerBoxesView.processes %}-->
<!--        <a href="{{ process.url }}">-->
<!--          <div class="boxes d-inline">-->
<!--            <div class="boxes-spacer">-->
<!--              <div class="box process"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->
<!--        {% endfor %}-->
      </div>
    </section>

    <ul class="copyright">
      <li>&copy; Stiftung Wirtschaft & Ökologie</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</footer>
